# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock
!pubspec.lock

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/local.properties

# IDE
.idea/
.vscode/
*.iml

# macOS/Linux
.DS_Store